<div class="vertikalnoCentriranje">
    <button type="button" ng-click="MenuCtrl.openModalSetDifficulty()" class="btn btn-default btn-block mojGumbMinolovec">NOVA IGRA</button>
    <button type="button" ui-sref="highscores" class="btn btn-default btn-block mojGumbMinolovec">NAJBOLJŠI REZULTATI</button>
    <button type="button" ng-click="MenuCtrl.openModalRules();" class="btn btn-default btn-block mojGumbMinolovec">PRAVILA</button>
    <button type="button" onclick="window.location = 'http://www.24ur.com/';" class="btn btn-default btn-block mojGumbMinolovec">IZHOD</button>
    <img style="display: block; margin: 40px auto 0 auto;" src="images/mina_happy.png" />
</div>
