<div class="modal-header">
    <h3 class="modal-title">Kako igrati?</h3>
</div>
<div class="modal-body">
Minolovec: pravila in osnove igranja
<br />
Cilj
<br />
Poiščite prazne kvadratke in se izogibajte minam. Čim hitreje počistite igralno površino, tem boljši rezultat dosežete.
<br />
Igralna površina
<br />
V Minolovcu lahko izbirate med tremi standardnimi igralnimi površinami, vsaka je bolj zahtevna od prejšnje.
<br />
Začetnik: 81 ploščic, 10 min
<br />
Poznavalec: 256 ploščic, 40 min
<br />
Strokovnjak: 480 ploščic, 99 min
<br />
Igralno površino lahko ustvarite tudi po meri, tako da kliknete meni Igra in nato Možnosti. Minolovec podpira igralne površine do 720 kvadratkov in 668 min.
<br />
Pravila igre
<br />
Pravila v Minolovcu so preprosta:
<br />
Če odkrijete mino, je igra za vas končana.
<br />
Če odkrijete prazen kvadratek, lahko igrate naprej.
<br />
Če odkrijete številko, vam ta pove, koliko min leži skritih v osmih kvadratkih okoli nje – podatek, ki vam pomaga pri ugotavljanju, kateri kvadratki v bližini ne skrivajo mine.
<br />
Namigi in nasveti
<br />
Označite mine. Če menite, da se pod kvadratkom skriva mina, ga kliknite z desno tipko miške. Tako na kvadratek postavite zastavico. (če niste prepričani, ga znova kliknite z desno tipko miške in spremenil se bo v vprašanje).
<br />
Preučujte vzorce. Če so pod tremi zaporednimi kvadratki prikazane številke 2-3-2, potem so verjetni zraven teh kvadratkov skrite tri zaporedne mine. Če kvadratek prikaže 8, potem je v vseh kvadratkih okoli njega podtaknjena mina.
<br />
Raziščite neraziskano. Ne veste, kam bi kliknili zdaj? Poskusite počistiti nekaj neraziskane igralne površine. Bolje jo boste odnesli, če kliknete v sredino neoznačenih kvadratkov, kot pa če to naredite v območju, za katerega sumite, da je podtaknjen z minami.
</div>
<div class="modal-footer"></div>
