<div style="background-color: rgb(5, 5, 7); color: rgb(240, 240, 241);" class="modal-header">
    <h3 class="modal-title">Kako igrati?</h3>
</div>
<div style="background-color: rgb(5, 5, 7); color: rgb(167, 167, 167);" class="modal-body black">
Minolovec je varljivo preprost preizkus spomina in sklepanja ter hkrati ena najbolj priljubljenih iger vseh časov.
        <br />
        <br />
        Cilj: poiščite prazne kvadratke in se izogibajte minam.
        <br />
        <br />
        1. Za začetek izberite NOVA IGRA.
        <br />
        2. Izberite težavnost – Lahko, Srednje ali Težko.
        <br />
        3. Začnete tako, da kliknite kvadratek.
        <br />
        4. Če želite ponovno igrati, pritisnite smeška.
        <br />
        <br />
        Zveni preprosto, kajne?
        <br />
        <br />
        Pravila v Minolovcu so preprosta:
        <br />
            • Če odkrijete mino, je igra za vas končana.<br />
            • Če odkrijete prazen kvadratek, lahko igrate naprej.<br />
            • Če odkrijete številko, vam ta pove, koliko min leži skritih v osmih kvadratkih okoli nje.
        Ta podatek vam pomaga pri ugotavljanju, kateri kvadratki v bližini ne skrivajo mine.<br />
        <br />
        <br />
        Namigi in nasveti:
        <br />
        <br />
        • Označite mine. Če menite, da se pod kvadratkom skriva mina, ga pritisnite in pritisk zadržite. Tako na kvadratek postavite zastavico. Če niste prepričani, postopek ponovite in spremenila se bo v vprašaj.
        <br />
        <br />
        • Preučujte vzorce. Če so pod tremi zaporednimi kvadratki prikazane številke 2-3-2, potem so verjetno zraven teh kvadratkov skrite tri zaporedne mine. Če se v kvadratku prikaže 8, potem so v vseh kvadratkih okoli njega podtaknjene mine.
        <br />
        <br />
        • Raziščite neraziskano. Ne veste, kam bi pritisnili zdaj? Poskusite počistiti nekaj neraziskane igralne površine. Bolje jo boste odnesli, če pritisnete v sredino neoznačenih kvadratkov, kot pa če to naredite v območju, kjer sumite, da so podtaknjene mine.

</div>
<div style="background-color: rgb(5, 5, 7); color: rgb(167, 167, 167);" class="modal-footer"></div>
