<div class="centriranje">

    <!--
    <input ng-value="PrijavaCtrl.dataModel.id_user" type="text" class="" style="margin: 0 auto; display: block; min-width: 220px" />
    <input ng-value="PrijavaCtrl.dataModel.geslo"type="text" class="" style="margin: 0 auto; display: block; min-width: 220px" />
    -->

    <!-- brez action="xxx.php" ker gre za angularjs form-->
    <form style="max-width: 300px; text-align: center;" method="post" ng-submit="PrijavaCtrl.postFormLogin()">
        <h2 style="display:block; height: 100px; margin-bottom: 40px;">Dobrodošel!</h2>
        <input style="text-align: center; float: left; width: 75%;" class="form-control" type="text" name="username" placeholder="Vpiši ime" ng-model="PrijavaCtrl.dataModel.username" />
        <select name="country" ng-model="PrijavaCtrl.dataModel.country" style="width: 25%;" class="form-control" type="text" name="country" ng-options="x.name_countries for x in PrijavaCtrl.countries"></select>
        <input style="text-align: center; margin: 5px 0 30px 0;" class="form-control" type="password" name="password" placeholder="Vpiši geslo" ng-model="PrijavaCtrl.dataModel.password"/>
        <button type="submit" value="login" class="btn btn-primary btn-block btn-lg mojGumbMinolovec">Prijavi se</button>
    </form>

    <!-- da pusti v json obliki pretty print technique-->
    <!--<pre>{{PrijavaCtrl.dataModel | json}}</pre>-->

    <!-- Moji poniji:
    {{PrijavaCtrl.poniji}} -->

    <!--<button type="button" class="btn btn-default btn-block mojGumbMinolovec">Prijavi se</button>-->
    <button style="max-width: 240px; display: block; margin: 25px auto 0 auto;" type="button" class="btn btn-success btn-lg btn-block mojGumbMinolovec" ui-sref="registracija">Ustvari račun</button>

    <img style="display: block; margin: 40px auto 0 auto;" src="images/mina_happy.png" />
</div>
